@import '../../styles.css';

.quiz__body {
  width: 90%;
  margin: auto;
}
.score,
.question {
  color: var(--white);
}
.question--title {
  color: var(--badge-away);
}
.ipt--radio {
  display: none;
}
.ipt--label {
  display: inline-block;
  margin: auto;
  background-color: #4a5568;
  width: 100%;
  padding: 1.25rem;
  font-size: 1.25em;
  font-weight: 600;
  text-align: center;
  margin: 1rem auto;
}
.ipt--label:hover {
  background-color: #373f4d;
}
.ipt--radio:checked + .ipt--label {
  background-color: var(--badge-online);
}
.nav--btn {
  color: var(--button-primary);
  margin: 2rem 0;
}
@media screen and (min-width: 768px) {
  .quiz__body {
    width: 40rem;
  }
}

/* Modal */
.modal--content {
  background-color: var(--background);
  border: none;
  border-radius: 0;
}
.modal--title {
  color: var(--white--off);
}
.btn--yes {
  background-color: var(--badge-online);
}
.btn--no {
  background-color: var(--badge-offline);
  color: var(--white);
  border: none;
}
.no:hover {
  border: none;
}
